html,
body {
  min-height: 100vh;
}
body {
  background-color: #8bc6ec;
  background-image: linear-gradient(192deg, #8bc6ec 0%, #565886 44%);
  color: white;
  transition: all 1s;
}

.inner{
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.285);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.5px);
-webkit-backdrop-filter: blur(9.5px);
}
nav .search {
  width: 50%;
}
nav .search button {
  right: 0;
  top: 0;
}
nav .search input {
  padding-right: 26%;
  
}
nav .search input::placeholder{
    color:white;
}
nav .search input:focus {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  color: white;
}
.glass {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.3) ;
  border-radius: 16px ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) ;
  backdrop-filter: blur(7.6px) ;
  -webkit-backdrop-filter: blur(7.6px) ;
  color: white ;
}
.card-title {
  border-bottom: 1px solid white;
}
.statistics .card{
    height:75%;
    align-self: flex-end;
}
.progress-bar{
    align-items: flex-end;
}
.progress i{
    margin:0;
    margin-left: -50%;
}
.progress{
    height: 10px;
    align-items: center;
}
.container .forecasting .card{
    /* min-width: calc(100% / 7);
    max-width: calc(100% / 7);
    min-height: 40vh; */
    white-space: nowrap;
}

.tomorrow{
width:55%
}
.forecasting{
width: 45%;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
/* .pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
} */
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

.find
{
  width:15%;
}



@media screen and (max-width: 900px) {
  
.find
{
  width:25%;
}
.current{
  min-width: 100% !important;
}
.firstrow{
  flex-wrap: wrap;
  flex-direction: column;
}
.statistics{
  flex-wrap: wrap;
  min-width:100% !important;
}
.statistics .card{
  max-width:49% !important;
  min-width:49% !important;
}
.statistics .humidity{
  max-width:100% !important;
  min-width:100% !important;
}
.tomorrow .current .card , .forecasting .current .card{
  flex-direction: column !important;
}
.tomorrow .current .card > *,.forecasting , .forecasting .current .card .right,,.tomorrow,nav .search {
  width:100% !important;
}
.container-fluid{
  padding: 7px!important;
}
.seconddrow{
  flex-wrap: wrap;
}
.forecasting .card .card-header,.forecasting .card .card-body{
font-size: large !important;
}
.col-md-5,.col-md-7,.col-md-9,.col-md-3{
  width:50% !important;
}
.col-md-5,.col-md-3{
  width:40% !important;
}
 .row{
  justify-content: space-between;
}
.card{
  padding: 7px !important;
}
#stateIconT
{
  width:75% !important;
}
}
